<footer class="blog-footer">
     <p>Made with <span class="love">♥</span> by <a href="https://www.facebook.com/kharkwalpranshu>"> Pranshu </a> and <a href="https://www.facebook.com/rohanraj.kansal"> Rohan </a></p>
     <p>
       <a href="#">Back to top</a>
     </p>
   </footer>


  <style>
  .blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center !important;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
  </style>
