@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
    font-family: 'Roboto', sans-serif !important;
    /* color : white !important; */
    background:url('/static/Dice.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    
}
.jumbotron{
    background:rgb(238, 238, 238,0.5) !important;
    text-align: center !important;
    justify-content: center;
}


.flex-container {
    display: flex;
    background-color:none;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
  }
  
.flex-container > div {
    background:red;
    width: 30%;
    height: 60vh;
    margin: 10px;
    text-align: center;
    font-size: 1.75em;
    overflow:hidden;
  }

img{
    height:200px;
    width:200px;
}

input{
    outline: none; /* This property is used to remove the default styling of the input field as seen in chrome*/
    color:black !important;
    padding:10px;
    width:33%;
    border-radius:1em;
    border:solid rgb(17,110,190) 2px;
    transition : 0.5s linear; 
    font-size:10px;
    
}
input:focus {
    box-shadow: rgb(0,0,0,0.3) 3px 3px; /*This property is used to add shadow*/
}

.overlay {
    position: relative; 
    padding:10px;
    top:30px;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    opacity:0;
    transform: translateY(100%);
    text-align: center;
  }

.flex-container > div:hover .overlay {
    opacity:1;
    transform: translateY(0);
}

#first{
    background:url('/static/7up.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#second{
    background:url('/static/7.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#three{
    background:url('/static/7down.svg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.check{
    text-align:center;
    position:relative;
    top:100px;
}

.selection{
    position:relative;
    top:2vh;
    background:blue;
    padding:0;
    /* border:4px red solid; */
    border-radius:50%;
    width : 1.5em;
    color:blue;
    font-size:1.5em !important;
    outline:none;
    transform: translateY(1100%);
    transition:1s ease;
}
/* .selection:active{
    background:green;
    color:green;
} */
.flex-container > div:hover .selection{
    transform:translateY(0);
}
.active{
    background:green;
    color:green;
}
a{
    color:white ;
}
a:hover{
    text-decoration: none;
    color : white;
}

#error{
    opacity:0;
    transition: 0.25s ease-in;
    z-index:2;
}

#message{
    opacity:0;
    transform : rotate(-360deg);
    transition: 1s ease;
}


    /* body {

        background-image: url('w3css.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }Positioning the image to center and cover of any element */


/* Ouline property can be used to have different style color and with od outlines to a element*/

@media only screen and (max-width:768px) {

    .flex-container {
        display: flex;
        background-color:none;
        flex-wrap:wrap;
      }
      
    .flex-container > div {
        background:red;
        width: 100%;
        height: 60vh;
        margin: 10px;
        text-align: center;
        font-size: 2em;
        overflow:hidden;
      }
    
    img{
        height:40vw;
        width:40vw;
    }
}

@media only screen and (min-width:600px) and (max-width:818px){
    .flex-container {
        display: flex;
        background-color:none;
        flex-wrap:wrap;
      }
      
    .flex-container > div {
        background:red;
        width: 100%;
        height: 60vh;
        margin: 10px;
        text-align: center;
        font-size: 2em;
        overflow:hidden;
      }
    
    img{
        height:30vw;
        width:30vw;
    }
}