{% extends 'layout.html' %}
{% block css%}
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 0.0, min-scale = 1.0" >
        <link rel = 'stylesheet' href = "{{url_for('static',filename='index.css')}}" type = 'text/css'> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script><!-- Including Axios a way to send http requests in javascript in a simple way -->
{% endblock %}
{% block body %}
            <div class='jumbotron'>
                <input id='Coins' type="text" placeholder="Coins"><br><br><br>
                <div id = 'error' class='alert alert-danger'>Please Enter a Valid Number of Coins.</div><br>
                <div class="flex-container">
                    
                    <div id = 'first'>
                        <div class='overlay'>
                            <b>Instructions:</b><br>
                            If you chooses this card and the result is same as choosen then 10 coins will be added to your account.
                        </div>
                        <div>
                            <button id = 'one1' class='selection'>C</button>
                        </div>
                    </div>
                    <div id = 'second'>
                        <div class='overlay'>
                            <b>Instructions:</b><br>
                            This is Card that if choose then your money will be doubled. 
                        </div>
                        <div >
                            <button id = 'two2' class='selection'>C</button>
                        </div>
                    </div>
                    <div id = 'three'>
                        <div class='overlay'>
                            <b>Intstructions:</b><br>
                            This option if you will select you and win then 5 Coins will be added to yours coins.
                        </div>
                        <div>
                            <button id = 'three3' class='selection'>C</button>
                        </div>
                    </div> 
                </div><br><br>
                
                <img class = 'img-rounded' id = 'dice1' src = '/static/Dice/dado_1.svg'>
                <img class = 'img-rounded' id = 'dice2' src = '/static/Dice/dado_1.svg'><br><br><br>
                <button id='roll' class = 'btn btn-primary btn-lg' onclick="AniDice()">Roll Dice</button>
                <button id = 'stop' class = 'btn btn-primary btn-lg' onclick="stopDice()">Stop</button><br><br><br>
                
                <input id='answer' type="text" placeholder="Answer" disabled><br><br>
                <div id = 'message' class='alert alert-success'></div>
        </div>
        <p id = "usercoins"></p>
        <script>
            document.getElementById('stop').disabled = true
            document.getElementById('roll').disabled = true
            function AniDice()
            {
                if (selection){
                    myVar=setInterval(rolldice,20)
                    document.querySelector('#answer').value = ''
                    document.getElementById('message').innerText = ""
                    document.getElementById('message').style.visibility = 'hidden'
                }
                else{
                    document.getElementById('message').style.visibility = 'visible'
                    document.getElementById('message').innerText = "Please Make a Valid Selection!!"
                }
            }
            var array1 = []
            var array2 = []

            function rolldice()
            {
                let ranNum1 = Math.floor( 1 + Math.random() * 6 );
                let ranNum2 = Math.floor( 1 + Math.random() * 6 );
                let dice1 = document.getElementById("dice1");
                let dice2 = document.getElementById("dice2")
                dice1.src="/static/Dice/dado_" + ranNum1 + ".svg";
                dice2.src="/static/Dice/dado_" + ranNum2 + ".svg";
                array1.push(ranNum1)
                array2.push(ranNum2)

            } 
var initial_coins = {{data.coins}}
            function stopDice()
            {
                clearInterval(myVar);
                var usercoins = document.querySelector('#usercoins')
                var coins = Number(document.getElementsByTagName('input')[0].value)
                
                if (coins > {{data.coins}}){
                    alert('Please Enter Valid Number of coins!!')
                }
                else{
                    var answer = array1[array1.length-1] + array2[array2.length - 1]
                    document.querySelector('#answer').value = answer
                    
                    if ((selection===1)){
                        if (answer>7){
                            console.log("7UP")
                            coins = initial_coins + coins
                            usercoins.innerText = `Coins : ${coins}`
                            document.getElementById('message').style.visibility = 'visible'
                            document.getElementById('message').innerHTML = `🤑 Congratulations You Won this Roll!! <br> Coins : ${coins}`
                            initial_coins = coins
                            }                 
                        else{
                            coins = initial_coins - coins
                            usercoins.innerText = `Coins : ${coins}`
                            document.getElementById('message').style.visibility = 'visible'
                            document.getElementById('message').innerHTML = `😫 Sorry, You have lost this Roll, BETTER LUCK NEXT TIME!! <br> Coins : ${coins}`
                            intitial_coins = coins
                        }
                        
                    }
                    else if(selection == 2){
                        if (answer==7){
                            coins = initial_coins + 2*coins
                            console.log('JACKPOT 7')
                            usercoins.innerText = `Coins : ${coins}`
                            document.getElementById('message').style.visibility = 'visible'
                            document.getElementById('message').innerHTML = `🤑 Congratulations You have won a <b>JACKPOT</b>!! 🤑 <br> Coins : ${coins}`
                            initial_coins = coins
                        }
                        else{
                            coins = initial_coins - coins
                            usercoins.innerText = `Coins : ${coins}`
                            document.getElementById('message').style.visibility = 'visible'
                            document.getElementById('message').innerHTML = `😫 Sorry, You have lost this Roll, BETTER LUCK NEXT TIME!! <br> Coins : ${coins}`
                            intitial_coins = coins
                        }
                    }
                    else if(selection == 3 ) {
                        if (answer<7){
                            coins = initial_coins + coins
                            console.log('7DOWN')
                            usercoins.innerText = `Coins : ${coins}`
                            document.getElementById('message').style.visibility = 'visible'
                            document.getElementById('message').innerHTML = `🤑 Congratulations You Won this Roll!! <br> Coins : ${coins}`
                            initial_coins = coins
                        }
                        else{
                            coins = initial_coins - coins
                            usercoins.innerText = `Coins : ${coins}`
                            document.getElementById('message').style.visibility = 'visible'
                            document.getElementById('message').innerHTML = `😫 Sorry, You have lost this Roll, BETTER LUCK NEXT TIME!! <br> Coins : ${coins}`
                            initial_coins = coins
                        }
                    }
                        console.log(coins)
                        $.ajax({ // this is the way to send a post request to the server
                            type: "POST", // type of http request method
                            contentType: "application/json;charset=utf-8",
                            url: "/update", // this is in reference to localhost:5000
                            traditional: "true",
                            data: JSON.stringify({"id":{{data.id}},"coins" : coins }), // this is necessary
                            dataType: "json"
                            //error : function(e){ // This block is used to define error
                            // console.log(e)
                        // }
                        });
                    }
                    
             }

            var selection = undefined;

            var button1 = document.querySelector('#one1')
            var button2 = document.querySelector('#two2')
            var button3 = document.querySelector('#three3')

            function b1(){
                selection = 1
                console.log(selection)
                button1.classList.add('active')
                button2.classList.remove('active')
                button3.classList.remove('active')
                
            }

            function b2(){
                selection = 2
                console.log(selection)
                button1.classList.remove('active')
                button2.classList.add('active')
                button3.classList.remove('active')
            }

            function b3(){
                selection = 3
                console.log(selection)
                button1.classList.remove('active')
                button2.classList.remove('active')
                button3.classList.add('active')
            }

            var input = document.getElementById('Coins')
            input.onkeyup = function(){
                console.log('Focused')
                if (isNaN(this.value) == true){
                    console.log('value')
                    document.getElementById('error').style.display = 'block';
                }
                else{
                    if (Number(this.value) > {{data.coins}} || Number(this.value) == 0) {
                        document.getElementById('error').style.visibility = 'visible';
                        document.getElementById('stop').disabled = true;
                        document.getElementById('roll').disabled = true;
                    }
                    else if(Number(this.value) < {{data.coins}}){
                        console.log('Success!!')
                        document.getElementById('error').style.visibility = 'hidden';
                        document.getElementById('stop').disabled = false;
                        document.getElementById('roll').disabled = false;
                    }
                }
            }

            button1.onclick = (b1)
            button2.onclick = (b2)
            button3.onclick = (b3)
        </script>
{% endblock%}
