{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to the 7Up 7Down Game</h1>
    <p class="lead">Get ready to play, a one of its kind game of luck and intellect. Can you double/triple your money, or will you leave this place, losing your money. Let's see what you have got. </p>
    <p> Create an account, and we will give you 100 free coins, to try your luck </p>
    <div>
    <img src="https://i.imgur.com/C4EG87h.png" class="img-thumbnail img-rounded img-responsive" alt="logo">
    </div>
    <br>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}
